{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="container">

    <div class="my-4 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-2">
        <span class="btn btn-warning" onclick="history.back()">back</span>
        <h1 class="">Administration product</h1>
    </div>
        <a class="btn btn-success" href="{{ url('app_admin_product_add') }}">Add new product</a>
    </div>

    {% for item in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <span>{{ item }}</span>
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                {# <th scope="col">Description</th> #}
                <th scope="col">Image</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in products %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{item.productName}}</td>
                {# <td>{{item.productDesc}}</td> #}
                <td><img src="{{item.productImage}}"/ class="small-img"></td>
                <td>{{item.categoryName}}</td>
                <td>
                    <a class="btn btn-warning">Update</a>
                    <a class="btn btn-danger">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
