{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="example-wrapper">
<h1>Afficher le produit</h1>
    <div class="card">
        <div class="card-body">
            <img src="{{product.image}}" class="card-img-top img-fluid" alt="...">
            <h5 class="card-title">{{product.name}} {{product.price}}€</h5>
            <p class="card-text">{{product.description}}€</p>

            <a href="{{url('app_product', {page: 0})}}" class="btn btn-primary">Voir tous les produits</a>
        </div>
    </div>
</div>
{% endblock %}
