{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="container">
    
    <h1 class="mb-3 mt-4">Resulat de la recherche</h1>
    {{ form(form_search) }}


    <div class="row gap-3 justify-content-between">
    {% for product in products %}
    <div class="card p-2 col-5">
        <img src="{{product.image}}" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
            <span>
                {{product.name}}
            </span>
            <span>
                {{product.price}}€
            </span>
             </h5>
            <p class="card-text">{{product.description}}€</p>
            <a href="{{url('app_one_product', {slug: product.slug })}}" class="btn btn-primary">Voir le produit</a>
        </div>
    </div>
    {% endfor %}


  

    <nav aria-label="Page navigation example mx-auto">
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item">
                {% if currentPage != 0  %}
                <a class="page-link" href="{{ url('app_product', {page:currentPage - 1 }) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}
                </li>
                  {% for page in 0..nbPages %}
                {% set active = '' %}
                {% if(page == currentPage) %}
                    {% set active = 'active' %}
                {% endif %}
                <li class="page-item">
                    <a href="{{ url('app_product', {page:page }) }}" class="page-link {{active}}">{{page + 1}}</a>
                </li>
                {% endfor %}
                {% if currentPage != nbPages  %}
                <a class="page-link" href="{{ url('app_product', {page:currentPage + 1 }) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>

    </div>

</div>
{% endblock %}
