{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="container mb-3 mt-4">
    
    {{ form(form_search) }}


    <div class="row gap-3 justify-content-between">
    {% for product in products %}
    <div class="card p-2 col-5">
        <img src="{{product.image}}" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
            <span>
                {{product.name}}
            </span>
            <span>
                {{product.price}}€
            </span>
             </h5>
            <p class="card-text">{{product.description}}€</p>
            <a href="{{url('app_one_product', {slug: product.slug })}}" class="btn btn-primary">Voir le produit</a>
        </div>
    </div>
    {% endfor %}


  

    </div>

</div>
{% endblock %}
